@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap");

.CardWrapper {
  max-width: 1080px;
  width: 80%;
  margin: 0 auto;
  border-radius: 10px;
}

.wrapper {
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 100%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background-color: rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  width: calc(50% - 40px);
  padding: 20px;
  position: relative;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon,
.center-line .scroll-icon {
  position: absolute;
  background: #f2f2f2;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ff1354;
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
  border: none;
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}

.Card {
  color: #fff;
  transition: transform 0.45s ease;
  h1 {
    font-family: "Bebas Neue", cursive;
    font-size: 3rem;
    text-align: left;
    color: #ff1354;
  }
  li {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    font-size: 1.2rem;
  }
}

.Card-1 {
  transform: translateX(-100%);
}
.Card-2 {
  transform: translateX(100%);
}

.visible {
  transform: translateX(0); /* Animate to the original position */
}
.start {
  margin-bottom: 150px;
}

@media (max-width: 790px) {
  .CardWrapper {
    width: 100%;
  }
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
  .Card h1 {
    font-size: 2rem;
  }
  .Card-1 {
    transform: translateX(0%);
  }
  .Card-2 {
    transform: translateX(0%);
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
  .Card-1 {
    transform: translateX(0%);
  }
  .Card-2 {
    transform: translateX(0%);
  }
}
